<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../../static/main/js/jquery-1.8.3.js"></script>
    <script src="../../static/main/js/jquery.form.js"></script>
</head>
<body>
<div id="box"></div>
<table border="1">
    <thead>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>手机</th>
        <th>QQ</th>
        <th>班级</th>
        <th>宿舍</th>
        <th>已投组织</th>
        <th>自我介绍</th>
        <th>it相关爱好，特长</th>
        <th>在实验室学习展望</th>
        <th>理想目标</th>
        <th>图片地址</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="list">
    <tr th:each="entries,stat:${tables1}" th:style="'background-color:'+@{${stat.odd}?'#F2F2F2'}">
        <td th:text="${stat.count}"></td>
        <td th:text="${entries['name']}"></td>
        <td th:text="${entries['gender']}"></td>
        <td th:text="${entries['phonenum']}"></td>
        <td th:text="${entries['qqnum']}"></td>
        <td th:text="${entries['classes']}"></td>
        <td th:text="${entries['dormitory']}"></td>
        <td th:text="${entries['organization']}"></td>
        <td th:text="${entries['introduction']}"></td>
        <td th:text="${entries['likes']}"></td>
        <td th:text="${entries['future']}"></td>
        <td th:text="${entries['traget']}"></td>
        <td th:text="${entries['picture']}"></td>
        <td><a th:href="@{/table/detail(id=${entries['id']})}">详情</a></td>
        <!-- 写法一：
        <td th:text="${entries['scourse']['cname']}"></td>
        <td th:text="${entries['scourse']['cscore']}"></td>-->
        <!-- 写法二：
        <td th:text="*{entries['scourse']['cname']}"></td>
        <td th:text="*{entries['scourse']['cscore']}"></td>-->
        <!-- 写法三：-->
        <!--<td th:object="${entries['scourse']}">
            <span th:text="*{['cname']}"></span>
        </td>
        <td th:object="${entries['scourse']}">
            <span th:text="*{['cscore']}"></span>
        </td>-->
    </tr>
    </tbody>
</table>
<script>
    var a1 = ${table1}
        alert(a1);
</script>
aaaa
</body>
</html>