<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>招新表</title>
    <link rel="stylesheet" href="/recruit/main/form/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/recruit/main/form/css/fileinput.css">
    <script src="/recruit/main/form/bootstrap-3.3.7-dist/js/jquery-3.3.1.min.js"></script>
    <script src="/recruit/main/form/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/recruit/main/form/js/fileinput.js"></script>
    <script src="/recruit/main/form/js/action.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand ">招新表提交</a>
        </div>
    </div>
</nav>


<div class="col-lg-10">
    <form class="form-horizontal" role="form" id="form_value" action="/recruit/table/add1" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="请输入姓名">
            </div>
        </div>
        <div class="form-group">
            <label for="file" class="col-sm-2 control-label">照片</label>
            <div class="col-sm-10">
                <input id="file" class="file" type="file" name="file" multiple data-min-file-count="1" accept="image/jpg,image/jpeg,image/png,image/bmp">
            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="gender" placeholder="请输入姓别" name="gender">
            </div>
        </div>
        <div class="form-group">
            <label for="phonenum" class="col-sm-2 control-label" >手机</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phonenum"  placeholder="请输入手机号" name="phonenum">
            </div>
        </div>
        <div class="form-group">
            <label for="qqnum" class="col-sm-2 control-label">QQ</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="qqnum" placeholder="请输入qq" name="qqnum">
            </div>
        </div>
        <div class="form-group">
            <label for="classes" class="col-sm-2 control-label">班级</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="classes" placeholder="请输入班级" name="classes">
            </div>
        </div>
        <div class="form-group">
            <label for="dormitory" class="col-sm-2 control-label">学号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="dormitory" placeholder="" name="dormitory">
            </div>
        </div>
        <div class="form-group">
            <label for="organization" class="col-sm-2 control-label">已投递组织</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="organization" placeholder="" name="organization"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="introduction" class="col-sm-2 control-label">自我介绍</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="introduction" placeholder="" name="introduction"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="likes" class="col-sm-2 control-label">IT相关爱好、特长</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="likes" placeholder="" name="likes"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="future" class="col-sm-2 control-label">在实验室的学习展望	</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="future" placeholder="" name="future"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="traget" class="col-sm-2 control-label">理想目标</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="traget" placeholder="" name="traget"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" style="text-align: center">
                <input type="submit" class="btn btn-primary" style="width: 100px"></input>
            </div>
        </div>
    </form>
    <div class="col-lg-10">

    </div>
</div>
<div>
    <div style="text-align: center"><span style="color: red">注：</span>交表时间是9月20日从中午12点到晚上9点半，地点是工程训练中心339 (4号楼西侧)</div>
    <div style="text-align: center">更多信息请加招新群：572272821询问 </div>
    <div style="text-align: center"><a href='http://shang.qq.com/wpa/qunwpa?idkey=286f620c2b57885df646fbe11f4985f695cb16218a1eb3d017b48616e0bbef94'>点击加群</a></div>
    <a href="/recruit/table/index2" style="width:200px; height:30px;border:0px;background:#b2dba1;margin-top:0px;
                       margin-left:10px; font-size:24px;color:white;">返回主界面</a>
</div>

</body>
</html>