<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>郑州轻工业大学软创基地</title>
		<meta name="description" content="Inspiration for Article Intro Effects" />
		<meta name="keywords" content="title, header, effect, scroll, inspiration, medium, web design" />
		<link rel="stylesheet" type="text/css" href="../../static/main/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../../static/main/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../../static/main/css/component.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="demo-4">
		<div id="container" class="container intro-effect-side">
			<!-- Top Navigation -->
			<header class="header">
				<div class="bg-img"><img src="../../static/main/img/4.jpg" alt="Background Image" /></div>
				<div class="title">
					<nav class="codrops-demos">
						<a href="index.html">关于我们</a>
						<a href="index2.html">招新信息</a>
						<a href="index3.html">报名表填写</a><!--style="font-size: 20px"-->
						<a class="current-demo" href="index4.html">实验室风采</a>
						<a href="index5.html">Fixed Side</a>
						<a href="index6.html">Grid</a>
						<a href="index7.html">Jam 3</a>
					</nav>
					<h1>软创基地风采</h1>
					<p class="subline">奖项太多，展示部分</p>
					<p>by <strong>Henry James</strong> &#8212; Posted in <strong>Inspiration</strong> on <strong>May 21, 2014</strong></p>
				</div>
			</header>
			<button class="trigger" data-info="Click to see the header effect"><span>Trigger</span></button>
			<article class="content">
				<div>
					<img style="width:100%;height:auto;" src="../../static/main/img/show/030.jpg">
					<img style="width:100%;height:auto;" src="../../static/main/img/show/001.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto; " src="../../static/main/img/show/002.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/003.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/004.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/005.jpg">
					<img style="width:100%;height:auto;" src="../../static/main/img/show/006.jpg">
					<img style="width:100%;height:auto;" src="../../static/main/img/show/007.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/008.jpg">
					<img style="transform: rotate(270deg); width:100%;height:auto;" src="../../static/main/img/show/009.jpg">
					<img style="transform: rotate(270deg); width:100%;height:auto;" src="../../static/main/img/show/010.jpg">
					<img style="transform: rotate(270deg); width:100%;height:auto;" src="../../static/main/img/show/011.jpg">
					<img style="transform: rotate(270deg); width:100%;height:auto;" src="../../static/main/img/show/012.jpg">
					<img style="transform: rotate(270deg); width:100%;height:auto;" src="../../static/main/img/show/013.jpg">
					<img style="transform: rotate(270deg); width:100%;height:auto;" src="../../static/main/img/show/014.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/015.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/016.jpg">
					<img style="transform: rotate(270deg); width:100%;height:auto;" src="../../static/main/img/show/017.jpg">
					<img style="transform: rotate(270deg);width:100%;height:auto;" src="../../static/main/img/show/018.jpg">
					<img style="transform: rotate(90deg);width:100%;height:auto;" src="../../static/main/img/show/019.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/020.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/021.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/022.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/023.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/024.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/025.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/026.jpg">
					<img style="transform: rotate(90deg); width:100%;height:auto;" src="../../static/main/img/show/027.jpg">
					<img style="transform: rotate(90deg);width:100%;height:auto;" src="../../static/main/img/show/028.jpg">
					<img style="transform: rotate(90deg);width:100%;height:auto;" src="../../static/main/img/show/029.jpg">
					<a class="current-demo" href="index4.html">放回顶部</a>
				</div>
			</article>
		</div><!-- /container -->
		<script src="../../static/main/js/classie.js"></script>
		<script>
			(function() {

				// detect if IE : from http://stackoverflow.com/a/16657946		
				var ie = (function(){
					var undef,rv = -1; // Return value assumes failure.
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf('MSIE ');
					var trident = ua.indexOf('Trident/');

					if (msie > 0) {
						// IE 10 or older => return version number
						rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
					} else if (trident > 0) {
						// IE 11 (or newer) => return version number
						var rvNum = ua.indexOf('rv:');
						rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
					}

					return ((rv > -1) ? rv : undef);
				}());


				// disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179					
				// left: 37, up: 38, right: 39, down: 40,
				// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
				var keys = [32, 37, 38, 39, 40], wheelIter = 0;

				function preventDefault(e) {
					e = e || window.event;
					if (e.preventDefault)
					e.preventDefault();
					e.returnValue = false;  
				}

				function keydown(e) {
					for (var i = keys.length; i--;) {
						if (e.keyCode === keys[i]) {
							preventDefault(e);
							return;
						}
					}
				}

				function touchmove(e) {
					preventDefault(e);
				}

				function wheel(e) {
					// for IE 
					//if( ie ) {
						//preventDefault(e);
					//}
				}

				function disable_scroll() {
					window.onmousewheel = document.onmousewheel = wheel;
					document.onkeydown = keydown;
					document.body.ontouchmove = touchmove;
				}

				function enable_scroll() {
					window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;  
				}

				var docElem = window.document.documentElement,
					scrollVal,
					isRevealed, 
					noscroll, 
					isAnimating,
					container = document.getElementById( 'container' ),
					trigger = container.querySelector( 'button.trigger' );

				function scrollY() {
					return window.pageYOffset || docElem.scrollTop;
				}
				
				function scrollPage() {
					scrollVal = scrollY();
					
					if( noscroll && !ie ) {
						if( scrollVal < 0 ) return false;
						// keep it that way
						window.scrollTo( 0, 0 );
					}

					if( classie.has( container, 'notrans' ) ) {
						classie.remove( container, 'notrans' );
						return false;
					}

					if( isAnimating ) {
						return false;
					}
					
					if( scrollVal <= 0 && isRevealed ) {
						toggle(0);
					}
					else if( scrollVal > 0 && !isRevealed ){
						toggle(1);
					}
				}

				function toggle( reveal ) {
					isAnimating = true;
					
					if( reveal ) {
						classie.add( container, 'modify' );
					}
					else {
						noscroll = true;
						disable_scroll();
						classie.remove( container, 'modify' );
					}

					// simulating the end of the transition:
					setTimeout( function() {
						isRevealed = !isRevealed;
						isAnimating = false;
						if( reveal ) {
							noscroll = false;
							enable_scroll();
						}
					}, 600 );
				}

				// refreshing the page...
				var pageScroll = scrollY();
				noscroll = pageScroll === 0;
				
				disable_scroll();
				
				if( pageScroll ) {
					isRevealed = true;
					classie.add( container, 'notrans' );
					classie.add( container, 'modify' );
				}
				
				window.addEventListener( 'scroll', scrollPage );
				trigger.addEventListener( 'click', function() { toggle( 'reveal' ); } );
			})();
		</script>
	</body>
</html>