<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>郑州轻工业大学软创基地</title>
    <meta name="description" content="Inspiration for Article Intro Effects"/>
    <meta name="keywords" content="title, header, effect, scroll, inspiration, medium, web design"/>
    <link rel="stylesheet" type="text/css" href="/recruit/main/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/recruit/main/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/recruit/main/css/component.css"/>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="demo-1">
<div id="container" class="container intro-effect-push">
    <!-- Top Navigation -->
    <header class="header">
        <div class="bg-img"><img src="/recruit/main/img/7.jpg" alt="Background Image"/></div>
        <div class="title">
            <nav class="codrops-demos">
                <a class="current-demo" href="/recruit/table/index1">关于我们</a>
                <a href="/recruit/table/index2">招新信息</a>
                <a href="/recruit/table/index3">报名表填写</a>
                <a href="/recruit/table/index4">实验室风采</a>
            </nav>
            <h1>软件综合实践与创新基地</h1>
        </div>
    </header>
    <button class="trigger" data-info="Click to see the header effect"><span>Trigger</span></button>
    <div class="title">
        <nav class="codrops-demos">
            <a class="current-demo" href="/recruit/table/index2">关于我们</a>
            <a href="/recruit/table/index2">招新信息</a>
            <a href="/recruit/table/index2">报名表填写</a>
            <a href="/recruit/table/index2">实验室风采</a>
        </nav>
        <h1>软件综合实践与创新基地</h1>
        <p class="subline">ZZULI SOFTWARE INNOVATOR</p>
        <!--<p>by <strong>Henry James</strong> &#8212; Posted in <strong>Inspiration</strong> on <strong>May 21, 2014</strong></p>-->
    </div>
    <article class="content">
        <div>
            <h3>实验室简介</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;郑州轻工业学院软件综合实践与创新基地（软创实验室）是隶属于郑州轻工业学院的校级实验室。软创实验室具有专业的教师团队、卓越的学习环境、一流的开发团队、全面的学习资料等等，对于学生的个人发展和未来规划影响极大，是每届软件学院的学生优先竞争的环境。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实验室自成立以来多次参与河南省和全国各类大学生软件竞赛取得优异的成绩。例如在中国大学生计算机设计大赛、蓝桥杯等等赛事中，团队几乎每年都能在国赛和省赛斩获一等奖、二等奖等等十余项。</p>
            <h3>实验室文化</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;软创实验室根据学生的个人意愿针对每个成员都制定了专属的培养方案，挖掘学生的潜力，全面发挥学生的特长，秉承“素质与技术全面提高”的理念进行管理和发展学生，让每个学生都受益良多。软创实验室属于一个“接力式”团队，除了老师团队外，每届成员都会被上届老成员所带领学习，并且带领下届新成员学习，正是这种模式给实验室团队输送源源不断的新血液，所以实验室的活力保持至今而且将持久保持下去。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实验室内部提供了很多让同学们进行安心学习的元素，比如电脑、门禁、空调、暖气、饮水机、投影仪、展示台、扫描仪、干净卫生而且安静的环境、充足的学习资料、优秀老师的指导等等。</p>
            <p><h4>成立:</h4>软件综合实践和创新基地成立，秉承“素质和技术全面提高”的理念进行发展。</p>
            <p><h4>发展:</h4>软创实验室根据学生的个人意愿针对每个成员都制定了专属的培养方案。</p>
            <p><h4>环境：</h4>软创实验室的学习环境和竞争环境都能给同学带来很大的益处，能快速提高自己。</p>
            <p><h4>比赛:</h4>软创实验室每年都会去代表学校参加比赛、每年为学校拿到不少奖项，增加学校荣誉。</p>
            <p><h4>未来: </h4>软创实验室成员在未来的路途中能比同届人更加出色和获得更进一步的发展。</p>
            <h3>实验室修炼</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;软创实验室的培养方案根据教学方案的趋势和个人意愿而定，主要学习类别有C、Java、C#、C++、Java
                Web、Linux、PHP、前端、数据库、数据结构等等。学习的大多数内容都是未来工作所必备的东西，不论将来从事何种工作，软创实验室的成员都能很快上手。</p>
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地点：工程训练中心338室、339室、351室。</h3>

            <blockquote>软创招新群：572272821或扫描二维码</blockquote>
            <center><img src="/recruit/main/img/群二维码.png"/></center>
        </div>
    </article>
</div><!-- /container -->
<script src="/recruit/main/js/classie.js"></script>
<script>
    (function () {

        // detect if IE : from http://stackoverflow.com/a/16657946
        var ie = (function () {
            var undef, rv = -1; // Return value assumes failure.
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE ');
            var trident = ua.indexOf('Trident/');

            if (msie > 0) {
                // IE 10 or older => return version number
                rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
            } else if (trident > 0) {
                // IE 11 (or newer) => return version number
                var rvNum = ua.indexOf('rv:');
                rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
            }

            return ((rv > -1) ? rv : undef);
        }());


        // disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179
        // left: 37, up: 38, right: 39, down: 40,
        // spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
        var keys = [32, 37, 38, 39, 40], wheelIter = 0;

        function preventDefault(e) {
            e = e || window.event;
            if (e.preventDefault)
                e.preventDefault();
            e.returnValue = false;
        }

        function keydown(e) {
            for (var i = keys.length; i--;) {
                if (e.keyCode === keys[i]) {
                    preventDefault(e);
                    return;
                }
            }
        }

        function touchmove(e) {
            preventDefault(e);
        }

        function wheel(e) {
            // for IE
            //if( ie ) {
            //preventDefault(e);
            //}
        }

        function disable_scroll() {
            window.onmousewheel = document.onmousewheel = wheel;
            document.onkeydown = keydown;
            document.body.ontouchmove = touchmove;
        }

        function enable_scroll() {
            window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;
        }

        var docElem = window.document.documentElement,
            scrollVal,
            isRevealed,
            noscroll,
            isAnimating,
            container = document.getElementById('container'),
            trigger = container.querySelector('button.trigger');

        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }

        function scrollPage() {
            scrollVal = scrollY();

            if (noscroll && !ie) {
                if (scrollVal < 0) return false;
                // keep it that way
                window.scrollTo(0, 0);
            }

            if (classie.has(container, 'notrans')) {
                classie.remove(container, 'notrans');
                return false;
            }

            if (isAnimating) {
                return false;
            }

            if (scrollVal <= 0 && isRevealed) {
                toggle(0);
            } else if (scrollVal > 0 && !isRevealed) {
                toggle(1);
            }
        }

        function toggle(reveal) {
            isAnimating = true;

            if (reveal) {
                classie.add(container, 'modify');
            } else {
                noscroll = true;
                disable_scroll();
                classie.remove(container, 'modify');
            }

            // simulating the end of the transition:
            setTimeout(function () {
                isRevealed = !isRevealed;
                isAnimating = false;
                if (reveal) {
                    noscroll = false;
                    enable_scroll();
                }
            }, 1200);
        }

        // refreshing the page...
        var pageScroll = scrollY();
        noscroll = pageScroll === 0;

        disable_scroll();

        if (pageScroll) {
            isRevealed = true;
            classie.add(container, 'notrans');
            classie.add(container, 'modify');
        }

        window.addEventListener('scroll', scrollPage);
        trigger.addEventListener('click', function () {
            toggle('reveal');
        });
    })();
</script>
</body>
</html>